@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

/* NavBar */
.navbar-background {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 66px;
  width: 100%;
  background: transparent;
  transition: 0.6s ease-in-out;
}

.background-nav0 {
  background-color: rgba(0, 0, 0, 0.1);
}

.background-nav1 {
  background-color: rgba(0, 0, 0, 0.2);
}

.background-nav2 {
  background-color: rgba(0, 0, 0, 0.3);
}

.background-nav3 {
  background-color: rgba(0, 0, 0, 0.4);
}

.background-nav4 {
  background-color: rgba(0, 0, 0, 0.5);
}

.background-nav5 {
  background-color: rgba(0, 0, 0, 0.6);
}

.background-nav6 {
  background-color: rgba(0, 0, 0, 0.7);
}

.background-nav7 {
  background-color: rgba(0, 0, 0, 0.8);
}

.background-nav8 {
  background-color: rgba(0, 0, 0, 0.9);
}

.background-nav {
  background-color: rgba(0, 0, 0, 1);
}

.background-nav:hover {
  background-color: #000000;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

.navegacion {
  display: flex;
  align-items: center;
}

.navegacion li {
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.navegacion li:hover {
  border-radius: 3px;
  background-color: red;
}

/* Header */
header {
  background-image: url(./assets/banner.png);
  height: 668px;
}

.background-header {
  overflow: hidden;
  height: 100%;
  background-color: rgba(255, 96, 96, 0.3) !important;
}

.info {
  text-align: center;
  margin-top: 210px;
}

.info h1 {
  text-transform: uppercase;
  font-size: 85px;
  margin: 0;
  color: white;
}

.info h2 {
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: white;
}

.info span {
  color: red;
}

.info h3 {
  font-size: 25px;
  margin: 10px 0 0 0;
  padding: 0;
  color: white;
  font-weight: 300;
  text-transform: capitalize;
}

.btn {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  padding: 15px 30px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
}

/* Features */
.features-container {
  overflow: hidden;
  height: 668px;
  width: 100%;
  background-color: black;
  color: white;
}

.features {
  margin: 100px 0;
}

.features h1 {
  text-align: center;
  font-size: 50px;
}

.features-info {
  width: 96%;
  margin: 0 auto;
  display: flex;
}

.feature {
  padding: 20px 0;
  margin-right: 5px;
  text-align: center;
  width: 24%;
}

.feature:last-child {
  margin-right: 0;
}

.feature:hover {
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
}

.feature img {
  height: 150px;
}

.feature h2 {
  font-size: 30px;
}

.feature p {
  margin: 0 auto;
  color: gray;
  width: 60%;
}

/* Offer */
.background-offer-imgage {
  background-image: url(./assets/offer.png);
  height: 668px;
}

.background-offer-color {
  overflow: hidden;
  height: 100%;
  background-color: rgba(255, 96, 96, 0.3) !important;
}

.info-offer {
  text-align: center;
  margin: 200px 0;
  color: white;
}

.info-offer h1 {
  font-size: 85px;
  text-transform: uppercase;
  margin-top: 0;
}

.info-offer span {
  color: red;
}

.info-offer p {
  text-transform: capitalize;
  font-size: 25px;
}

/* About Us */
.about-us {
  overflow: hidden;
  width: 100%;
  height: 668px;
  background-color: black;
  color: white;
}

.info-about-us {
  display: flex;
  width: 80%;
  text-align: center;
  margin: 120px auto;
}

.info-about-us img {
  height: 500px;
  margin-right: 20px;
}

.text-about-us {
  text-align: left;
  margin: auto 0;
}

.text-about-us h1 {
  font-size: 55px;
  color: red;
  text-transform: uppercase;
  margin-top: 0;
}

.text-about-us p {
  font-size: 20px;
}

/* Contact */
.contact {
  overflow: hidden;
  width: 100%;
  height: 668px;
  background-color: black;
  color: white;
}

.info-contact {
  text-align: center;
  margin: 150px 0;
}

.info-contact h1 {
  text-transform: uppercase;
  font-size: 55px;
}

.input-contact {
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.info-contact textarea {
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  resize: none;
  width: 500px;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.btn-contact {
  background-color: red !important;
  width: 510px;
}
