@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

/* NavBar */
.navbar-background {
  position: fixed;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 66px;
  width: 100%;
  background: transparent;
  transition: 0.6s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.background-nav {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.6s ease-in-out;
}

.background-nav:hover {
  background-color: #000000;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}

.navegacion {
  display: flex;
  align-items: center;
}

.navegacion li {
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.navegacion li:hover {
  border-radius: 3px;
  background-color: red;
}

.icon-bars {
  display: none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1360px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .navbar-background-menu {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 280px;
    width: 100%;
    background: transparent;
    transition: 0.6s ease-in-out;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }

  .navegacion {
    display: none;
  }

  .icon-bars {
    display: block;
  }

  .icon-bars {
    color: white;
    font-size: 40px;
    position: relative;
    right: -240px;
  }

  .icon-bars svg {
    margin-top: 15px;
  }

  .navegacion {
    display: block;
    position: relative;
    width: 100%;
    top: 50px;
    left: -190px;
  }

  .navegacion li {
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 146px;
    width: 80px;
  }

  .navegacion li:last-child {
    margin-bottom: 0;
  }
}

/* Header */
header {
  background-image: url(./assets/banner.png);
  height: 668px;
}

.background-header {
  overflow: hidden;
  height: 100%;
  background-color: rgba(255, 96, 96, 0.3) !important;
}

.info {
  text-align: center;
  margin-top: 210px;
}

.info h1 {
  text-transform: uppercase;
  font-size: 85px;
  margin: 0;
  color: white;
}

.info h2 {
  text-transform: uppercase;
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: white;
}

.info span {
  color: red;
}

.info h3 {
  font-size: 25px;
  margin: 10px 0 0 0;
  padding: 0;
  color: white;
  font-weight: 300;
  text-transform: capitalize;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    background-image: url(./assets/banner.png);
    height: 668px;
    background-position: center center;
  }

  .info h1 {
    font-size: 65px;
    margin: 0;
  }

  .info h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  .info h3 {
    font-size: 15px;
    margin: 10px 0 0 0;
    font-weight: 300;
  }

  .btn {
    font-size: 20px !important;
    margin: 20px 0 0 0;
    padding: 15px 30px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    background-image: url(./assets/banner.png);
    height: 668px;
    background-position: center center;
  }

  .info h1 {
    font-size: 45px;
    margin: 0;
  }
}

.btn {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  padding: 15px 30px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
}

/* Features */
.features-container {
  overflow: hidden;
  height: 668px;
  width: 100%;
  background-color: black;
  color: white;
}

.features {
  margin: 100px 0;
}

.features h1 {
  text-align: center;
  font-size: 50px;
}

.features-info {
  width: 96%;
  margin: 0 auto;
  display: flex;
}

.feature {
  padding: 20px 0;
  margin-right: 5px;
  text-align: center;
  width: 24%;
}

.feature:last-child {
  margin-right: 0;
}

.feature:hover {
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
}

.feature img {
  height: 150px;
}

.feature h2 {
  font-size: 30px;
}

.feature p {
  margin: 0 auto;
  color: gray;
  width: 60%;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .features {
    margin: 90px 0;
  }
  
  .feature {
    padding: 20px 0;
    margin-right: 5px;
    text-align: center;
    width: 24%;
  }
  
  .feature:last-child {
    margin-right: 0;
  }
  
  .feature:hover {
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  }
  
  .feature img {
    height: 120px;
    margin-bottom: 10px;
  }
  
  .feature h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .feature p {
    font-size: 15px;
    margin: 0 auto;
    color: gray;
    width: 60%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .features-container {
    overflow: hidden;
    height: 968px;
    width: 100%;
    background-color: black;
    color: white;
  }

  .features-info {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .features {
    overflow: hidden;
    margin: 55px 0;
  }
  
  .feature {
    padding: 20px 0;
    margin-right: 0;
    text-align: center;
    width: 45%;
  }
  
  .feature:last-child {
    margin-right: 0;
  }
  
  .feature:hover {
    box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  }
  
  .feature img {
    height: 120px;
    margin-bottom: 10px;
  }
  
  .feature h2 {
    font-size: 20px;
  }
  
  .feature p {
    font-size: 15px;
    margin: 0 auto;
    color: gray;
    width: 60%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}

/* Offer */
.background-offer-imgage {
  background-image: url(./assets/offer.png);
  height: 668px;
}

.background-offer-color {
  overflow: hidden;
  height: 100%;
  background-color: rgba(255, 96, 96, 0.3) !important;
}

.info-offer {
  text-align: center;
  margin: 200px 0;
  color: white;
}

.info-offer h1 {
  font-size: 85px;
  text-transform: uppercase;
  margin-top: 0;
}

.info-offer span {
  color: red;
}

.info-offer p {
  text-transform: capitalize;
  font-size: 25px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .background-offer-imgage {
    background-image: url(./assets/offer.png);
    background-position: center center;
    height: 668px;
  }
  
  .info-offer h1 {
    font-size: 65px;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .info-offer p {
    font-size: 20px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .background-offer-imgage {
    background-image: url(./assets/offer.png);
    background-position: center center;
    height: 668px;
  }
  
  .info-offer h1 {
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .info-offer p {
    font-size: 15px;
  }
}

/* About Us */
.about-us {
  overflow: hidden;
  width: 100%;
  height: 668px;
  background-color: black;
  color: white;
}

.info-about-us {
  display: flex;
  width: 80%;
  text-align: center;
  margin: 120px auto;
}

.info-about-us img {
  height: 500px;
  margin-right: 20px;
}

.text-about-us {
  text-align: left;
  margin: auto 0;
}

.text-about-us h1 {
  font-size: 55px;
  color: red;
  text-transform: uppercase;
  margin-top: 0;
}

.text-about-us p {
  font-size: 20px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .about-us {
    overflow: hidden;
    width: 100%;
    height: 668px;
    background-color: black;
    color: white;
  }
  
  .info-about-us {
    display: flex;
    width: 90%;
    text-align: center;
    margin: 134px auto;
  }
  
  .info-about-us img {
    height: 400px;
    margin-right: 0;
  }
  
  .text-about-us {
    text-align: left;
    margin: auto 0;
  }
  
  .text-about-us h1 {
    font-size: 45px;
    color: red;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  .text-about-us p {
    font-size: 15px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .about-us {
    overflow: hidden;
    width: 100%;
    height: 768px;
    background-color: black;
    color: white;
  }
  
  .info-about-us {
    display: block;
    width: 85%;
    text-align: center;
    margin: 46px auto;
  }
  
  .info-about-us img {
    height: 350px;
    margin-right: 0;
  }
  
  .text-about-us {
    text-align: center;
    margin: auto 0;
  }
  
  .text-about-us h1 {
    font-size: 45px;
    color: red;
    text-transform: uppercase;
    margin-top: 0;
  }
}

/* Contact */
.contact {
  overflow: hidden;
  width: 100%;
  height: 668px;
  background-color: rgb(168, 156, 156);
  color: white;
}

.info-contact {
  text-align: center;
  margin: 150px 0;
}

.info-contact h1 {
  text-transform: uppercase;
  font-size: 55px;
}

.input-contact {
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  width: 500px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.info-contact textarea {
  background-color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  resize: none;
  width: 500px;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.btn-contact {
  background-color: red !important;
  width: 510px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .contact {
    overflow: hidden;
    width: 100%;
    height: 495px;
    background-color: rgb(168, 156, 156);
    color: white;
  }
  
  .info-contact {
    text-align: center;
    margin: 50px 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .contact {
    overflow: hidden;
    width: 100%;
    height: 495px;
    background-color: rgb(168, 156, 156);
    color: white;
  }
  
  .info-contact {
    text-align: center;
    margin: 50px 0;
  }

  .info-contact h1 {
    text-transform: uppercase;
    font-size: 45px;
  }
  
  .input-contact {
    width: 370px;
  }
  
  .info-contact textarea {
    width: 370px;
  }
  
  .btn-contact {
    width: 380px;
  }
}